.react-calendar {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .react-calendar__tile {
    padding: 10px;
    font-size: 1rem;
    color: #04279a;
  }
  
  .react-calendar__tile--active {
    background: #04279a !important;
    color: white !important;
    border-radius: 8px;
  }
  
  .react-calendar__navigation button {
    color: #04279a;
    font-weight: bold;
  }
  
  .react-calendar__navigation button:hover {
    background: rgba(76, 175, 80, 0.1);
  }
  