/* Hide scrollbar for all elements with the custom class 'hide-scrollbar' */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Chrome, Safari, and Edge */
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* Hides scrollbar in Internet Explorer 10+ */
    scrollbar-width: none;     /* Hides scrollbar in Firefox */
}
