<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forget Password</title>
</head>
<body style="padding: 1rem">
    <h3>Hello {{ username }}</h3>
    <p>We received a request to reset the password for your account associated with this email address.</p>
    <p>Verification Code: </p>
    <h3>{{ code }}</h3>
    <p>Please enter this code in the password reset page to proceed with updating your password. For security reasons, the code is valid for {{ time }}.</p>
    <p>If you did not request a password reset, please ignore this email. Your password will remain unchanged.</p>
    <p>For further assistance, you can reach out to our support team at tech@phantom-fx or raise a ticket.</p>

    <h3>Best regards,</h3>
    <h3>Thadam Admin</h3>
</body>
</html>